//sidebar
.sidebar-sticky {
    height: 100%;
    padding-top: 5%;
    position: absolute;
}
.sidebar-about {
    padding-bottom:10%;
}
.spread-btn{
    left: 7%;
    position: absolute;
    padding: 0;
    padding-top: 5px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}
  
.spread-btn:hover{
    color: grey;
}
  
.menu-wrapper{
    display: flex;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 0%;
  
    input[type=checkbox]{
      display: none;
    }
  
    input[type=checkbox] ~ ul{
      display: none;
      list-style: none;
    }
  
    input[type=checkbox]:checked ~ ul{
      display: block;
    }
}

// for top-menu
.top-menu-wrapper{
  display: inline-block;
}

.nav-btn, .nav-btn-bar{
  height: 3rem;
}
.top-menu{
  overflow-x: auto;
  // overflow-y: hidden;
  white-space: nowrap;
}
.top-menu.nav-btn{
  border: none;
  display: inline-flex;
  width: 6rem;
  margin-left: -1px;
}
.nav-btn:hover,.nav-btn:focus{
  color: grey;
  background-color: rgba(0,0,0,0.05);
}

.nav-span{
  flex: none;
}

/* 스크롤바 스타일 설정 */
*::-webkit-scrollbar {
  width: 12px;
  height: 3px;
}

/* 스크롤바 트랙 스타일 설정 */
*::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 12px;
}

/* 스크롤바 손잡이 스타일 설정 */
*::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  border-radius: 12px;
}

/* 스크롤바 손잡이 호버 스타일 설정 */
*::-webkit-scrollbar-thumb:hover {
  background-color: #8a8a8a;
}

/* 스크롤바 버튼 스타일 설정 */
*::-webkit-scrollbar-button:start:decrement,
*::-webkit-scrollbar-button:end:increment {
  background-color: #d0d0d0;
  border-radius: 6px;
  height: 12px;
  width: 12px;
  border: 1px solid #c0c0c0;
}

/* 스크롤바 버튼 호버 스타일 설정 */
*::-webkit-scrollbar-button:start:decrement:hover,
*::-webkit-scrollbar-button:end:increment:hover {
  background-color: #b0b0b0;
}
